<h1 id="tableLabel">Produse din magazin</h1>

<p>Mai jos gasiti lista completa cu produsele din magazinul nostru.</p>

<p *ngIf="!magazins"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="magazins">
  <thead>
    <tr>
      <th>ID</th>
      <th>Denumire</th>
      <th>Specificatii</th>
      <th>Status</th>
      <th>Pret</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let magazin of magazins">
      <td>{{ magazin.id }}</td>
      <td>{{ magazin.denumire }}</td>
      <td>{{ magazin.specificatii }}</td>
      <td>{{ magazin.status }}</td>
      <td>{{ magazin.pret }}</td>
    </tr>
  </tbody>
</table>
